.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.Portrait {
  margin-top: 33%;
}

.Landscape {
 display: flex;
 flex-direction: column;
 justify-content: center;
 height: 70%;
}
