<!-- <mat-sidenav-container class="main-container">

  <mat-sidenav-content class="main-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>

  <mat-sidenav mode="side" opened class="nav-bar">
    <app-nav></app-nav>
  </mat-sidenav>
  
</mat-sidenav-container> -->

<ng-container [ngSwitch]="layoutType">
  <div *ngSwitchCase="'bar'">
    <app-nav [navType]="layoutType"></app-nav>
    <router-outlet></router-outlet>
  </div>

  <div *ngSwitchCase="'side'">
    <mat-sidenav-container class="fill-screen">
      <mat-sidenav opened disableClose="true" mode="side" class="side-nav">
        <app-nav [navType]="layoutType"></app-nav>
      </mat-sidenav>
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</ng-container>

<!-- INFO
  [x]: mobile p  bar 1
  [x]: mobile l side no extra  2

  [ ]: tablet p  bar 1
  [ ]: talet l side no extra 2

  [ ]: web p sideExtra  3
  [ ]: web l side  3
 -->

 <!-- 
  TODO:
  1. fix all pages with new web stuff
  2. move on to next screen size
  3. repeat and move a screen higher
  -->

  <!-- 
    TODO:
    [ ]: move through each google screen size and test each view
   -->